:root,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;

	background-color: black;
}

body {
	margin: 0;
	padding: 0;
	place-items: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

canvas {
	display: block;
}
